/* Селекторы тегов для базового оформления */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0; /* Серый цвет фона */
    background-image: linear-gradient(to right, #808080, #e0e0e0); /* Градиент от темно-серого к светло-серому */

}

header, footer {
    background-color: #808080; /* Темно-серый цвет фона */
    color: white; /* Белый цвет текста */
    text-align: center;
    padding: 10px 0;
}

ol {
    list-style-type: none; /* Убираем стандартные маркеры списка */
}

ol li {
    padding-left: 30px; /* Добавляем отступ слева для изображения */
    background-image: url('img1.jpg'); /* Замените на путь к вашему изображению */
    background-repeat: no-repeat;
    background-size: 20px 20px; /* Устанавливаем размер изображения */
    background-position: left center; /* Размещаем изображение по центру слева */
}

nav ol {
    list-style-type: none;
    padding: 0;
}

nav ol li {
    display: inline;
    margin-right: 20px;
}

nav ol li a {
    text-decoration: none;
    color: #ffffff;
}

nav ol li a:hover {
    text-decoration: underline;
}

#main-content {
    padding: 20px;
}

/* Составной селектор для оформления таблиц */
table {
    border-collapse: collapse; /* Убираем двойные границы */
    overflow-x: scroll;
    /*max-width: 500px;*/
    display: block;
    border-radius: 10px; /* скругление углов */
}

table th:first-child, table td:first-child { /* скругление углов */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table th:last-child, table td:last-child { /* скругление углов */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

th, td {
    border: 1px solid #808080; /* Оформление границ */
    text-align: left;
    padding: 8px;
    min-width: 100px;
}

th {
    background-color: #808080; /* Цвет фона для заголовков таблицы */
    color: white;
}

/* Добавление картинки в ячейку таблицы, используйте класс или id для специфической ячейки */
.custom-image-cell {
    background-image: url('img1.jpg'); /* Замените на путь к вашему изображению */
    background-repeat: no-repeat;
    background-size: contain; /* Подгоняет размер изображения по содержимому ячейки */
    background-position: center; /* Центрирует изображение */
}

/* Псевдоклассы для ссылок */
a:link {
    color: #dd00ff; /* Цвет для не посещённых ссылок */
}

a:visited {
    color: #b30006; /* Цвет для посещённых ссылок */
}

a:hover {
    color: rgb(0, 255, 178); /* Цвет при наведении */ /* Пример указания цвета в десятичном формате */
    text-decoration: underline; /* Подчёркивание при наведении */
}

/* Пример указания размера */
.logo-size {
    width: 32px; /* Размер в пикселях */
    height: 32px;
}

.custom-mm-size {
    width: 50mm; /* Размер в миллиметрах */
}

.custom-percentage-size {
    width: 50%; /* Размер в процентах */
}
